.navbar .navbar-nav .nav-item a{
    padding:15px;
}

.navbar .navbar-nav .nav-btn{
    padding:5px;
}

body{
    background-color:grey;
}

.navbar-nav .nav-link:hover{
    background-color: lightgray;
}

/* content */

* {
    font-family: "Noto Sans", sans-serif;
  }

  .card-group{
    margin:auto;
    width:80%;
  }

  .card{
    margin:10px;
    padding:10px;
  }

  h1{
    text-align: center;
    padding-top:20px;
  }
 